<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<script th:src="@{/js/myscript.js}" />">

<head>
    <meta charset="UTF-8">
    <title>ダガシ爆誕</title>
    <link rel='stylesheet' th:href="@{/css/style.css}" />
</head>

<body>
    <div class="site">
        <div class="header">
            <div class="global-nav">
                <div class="global-nav-inner">
                    <div class="container">
                        <div class="logo">
                            <img th:src="@{/img/logo.png}" alt="">
                        </div>
                        <div class="menu">
                            menu
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- header -->

        <div class="field_tweet">

            <!-- ここから繰り返し -->
            <div class="tweet" th:each="tweet: ${tweets}">
                <div class="content">
                    <div class="content_txt">
                        <div class="stream-item-header">
                            <span class="fullname">[[${tweet.getUser().name}]]</span>
                            <span class="username">@<b>[[${tweet.getUser().id}]]</b></span>
                            <small class="time">
                                1時間前
                            </small>
                        </div><!-- stream-item-header -->

                        <div class="tweet-text-container">
                            <p class="tweet-text">
                                [[${tweet.tweet}]]
                            </p>
                        </div><!-- tweet-text-container -->

                        <div class="stream-item-footer">
                            <div class="ProfileTweet-action">
                                <button class="Tweet-actionButton">
                                    <span class="Icon"><img th:src="@{/img/icon_comment.png}" alt=""></span>
                                    <span class="ProfileTweet-actionCount ">
                                        <!--100 -->
                                    </span>
                                </button>
                            </div>

                            <div class="ProfileTweet-action">
                                <button class="Tweet-actionButton">
                                    <span class="Icon"><img th:src="@{/img/icon_retweet.png}" alt=""></span>
                                    <span class="ProfileTweet-actionCount ">
                                        [[${tweet.retweetCount}]]
                                    </span>
                                </button>
                            </div>

                            <div class="ProfileTweet-action">
                                <button class="Tweet-actionButton">
                                    <span class="Icon"><img th:src="@{/img/icon_heart.png}" alt=""></span>
                                    <span class="ProfileTweet-actionCount ">
                                        [[${tweet.likeCount}]]
                                    </span>
                                </button>
                            </div>

                            <div class="ProfileTweet-action">
                                <button class="Tweet-actionButton">
                                    <span class="Icon"><img th:src="@{/img/icon_menu.png}" alt=""></span>
                                </button>
                            </div>

                            <div class="ProfileTweet-action">
                                <button class="Tweet-actionButton">
                                    <span class="Icon"><img th:src="@{/img/icon_bin.png}" alt=""></span>
                                    <span class="ProfileTweet-actionCount ">
                                        <!-- 100 -->
                                    </span>
                                </button>
                            </div>
                        </div><!-- stream-item-footer -->
                    </div><!-- content_txt -->

                    <div class="content_img">
                        <div class="avatar">
                            <img th:src="@{/img/img.png}" alt="">
                        </div>
                    </div>

                </div>
            </div><!-- tweet -->
            <!-- ここまで繰り返し -->

            <!-- ここから繰り返し -->
            <div class="tweet">
                <div class="content">
                    <div class="content_txt">
                        <div class="tweet-context_retweet">
                            <span class="icon">●
                            </span>
                            <span class="txt">
                                <a href="">AAA</a>
                                さんがリツイート
                            </span>
                        </div>
                        <div class="stream-item-header">
                            <span class="fullname">名前</span>
                            <span class="username">@<b>username</b></span>
                            <small class="time">
                                1時間前
                            </small>
                        </div><!-- stream-item-header -->

                        <div class="tweet-text-container">
                            <p class="tweet-text">
                                ツイート内容が入ります。ツイート内容が入ります。ツイート内容が入ります。ツイート内容が入ります。ツイート内容が入ります。ツイート内容が入ります。
                            </p>
                        </div><!-- tweet-text-container -->

                        <div class="stream-item-footer">
                            <div class="ProfileTweet-action">
                                <button class="Tweet-actionButton">
                                    <span class="Icon"><img th:src="@{/img/icon_comment.png}" alt=""></span>
                                    <span class="ProfileTweet-actionCount ">
                                        100
                                    </span>
                                </button>
                            </div>

                            <div class="ProfileTweet-action">
                                <button class="Tweet-actionButton">
                                    <span class="Icon"><img th:src="@{/img/icon_retweet.png}" alt=""></span>
                                    <span class="ProfileTweet-actionCount ">
                                        100
                                    </span>
                                </button>
                            </div>

                            <div class="ProfileTweet-action">
                                <button class="Tweet-actionButton">
                                    <span class="Icon"><img th:src="@{/img/icon_heart.png}" alt=""></span>
                                    <span class="ProfileTweet-actionCount ">
                                        100
                                    </span>
                                </button>
                            </div>

                            <div class="ProfileTweet-action">
                                <button class="Tweet-actionButton">
                                    <span class="Icon"><img th:src="@{/img/icon_menu.png}" alt=""></span>
                                </button>
                            </div>

                            <div class="ProfileTweet-action">
                                <button class="Tweet-actionButton">
                                    <span class="Icon"><img th:src="@{/img/icon_bin.png}" alt=""></span>
                                    <span class="ProfileTweet-actionCount ">
                                        100
                                    </span>
                                </button>
                            </div>
                        </div><!-- stream-item-footer -->
                    </div><!-- content_txt -->

                    <div class="content_img">
                        <div class="avatar">
                            <img th:src="@{/img/img.png}" alt="">
                        </div>
                    </div>

                </div>
            </div><!-- tweet -->
            <!-- ここまで繰り返し -->

        </div><!-- field_tweet -->
    </div>
</body>

</html>